/* .bg{
 background-color: rgb(170, 125, 212);
 background-image: url('../public/homepage.jpg');
 background-size: contain;
 
               background-repeat: "no-repeat",
} */
.signup{
  background-color: #83c4f0;
  
  
  
}
/* #name{
  background-color: antiquewhite;
} */

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .animated {
    animation: fadeIn 4s ease-in;
  }
  




  
#luckysheet_info_detail{
  display: none !important;
}

#luckysheet-wa-editor{
  overflow-x: auto;
  overflow-y: hidden;
}

#luckysheet-wa-editor::-webkit-scrollbar {
  display: none;
}

