/* .bg{
 background-color: rgb(170, 125, 212);
 background-image: url('../public/homepage.jpg');
 background-size: contain;
 
               background-repeat: "no-repeat",
} */
.signup{
  background-color: #98EECC;
  
  
  
}

  

